body {
  background-color: #E5E5E5;
  font-family: "poppins", Helvetica, sans-serif;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #fff !important;
}

.navbar-brand {
  color: #6070FF;
  font-weight: 700;
  font-size: 18px;
}

.nav-link {
  font-weight: 500;
  font-size: 15px;
  margin-right: 40px;
}

.navbar-toggler {
  border: none;
  color: transparent;
}

.navbar-toggler.collapsed {
  color: #6070FF;
  color: transparent;
  border: none;
}

.navbar-toggler-icon {
  border-color: #6070FF;
}

.navbar-nav .nav-link.active {
  color: #6070FF;

}

.portfolio-container {
  background-color: #fff;
  border-bottom-left-radius: 80px;
  height: 90vh;
  padding: 48px 8px 60px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  width: 98%;
  height: 100%;
  background: url('/src/images/Header\ bg@2x.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
}

.header-text h1 {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.37px;
  color: #172b4d;
  line-height: 52px;
}

.header-text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  text-align: justify;
}

.lets-connect {
  text-decoration: none;
  text-transform: uppercase;
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.project-cards {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  border: 1px solid #DFE1E6;
  border-radius: 24px;
}

.image {
  background: url('./images/Snapshoot_Portfolio_desktop_3.png') no-repeat;
  background-size: 100% 100%;
}

.card-block {
  width: 50%;
  height: 496px;
  margin: 20px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px 0;
}

.heading-2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 24px;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  text-align: justify;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 42px 0;
  padding: 0;
}
li {
  list-style-type: none;
  padding: 4px 12px;
  margin: 3px 3px;
  background: #EBEBFF;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070FF;
}

.btn-primary {
  color: #6070FF;
  font-weight: 500;
  font-size: 17px;
  background-color: #fff;
  border: 1px solid #6070FF;
  border-radius: 8px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #6070FF;
}

.btn-link {
  text-decoration: none;
  color: #396DF2;
  font-weight: 500;
  font-size: 17px;
  background-color: #fff;
  border: 1px solid #6070FF;
  border-radius: 8px;
  padding: 12px;
  margin: 20px 0;
} 

.btn-link:hover {
  color: #fff;
  background-color: #6070FF;
}

.all-container {
  background-color: #fff;
  border-top-right-radius: 80px;

}
.about-container {
  width: 95%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 100px;
}

.about-text, .skill-list {
  width: 50%;
  padding: 70px 20px;
}

.accordion-button.collapsed,
.accordion-button:not(.collapsed) {
  font-size: 20px;
  font-weight: 500;
  color: #344563;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-container {
  padding: 70px;
  border: 1px solid #6070FF;
  background-color: #6070FF;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 0;
  margin-top: -70px;
}

.form-container {
  background: url('./images/contact\ form\ background\ shapes@2x.png') no-repeat;
  background-size: 100% 100%;
 }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form h2,
.form p {
  color: #fff;
}

.form p {
  text-align: center;
}

.form-floating {
  width: 100%;
}

form,
.was-validated {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invalid-feedback {
  color: #f7f6ee;
}

@media screen and (max-width: 992px) {
  .portfolio-container {
    padding: 0;
  }
  .header-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    background: url('./images/header-shapes\ mobile.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .header-text {
    width: 100%;;
  }

  .project-cards {
    flex-direction: column;
    margin: 114px 24px;
  }

  .image {
    background: url('./images/Snapshoot-Portfolio-1.png') no-repeat;
    background-size: 100% 100%;
  }

  .card-block {
    width: 95%;
    margin: 20px 0;
  }

  .card-text {
    padding: 0 20px;
  }

  .about-container, .form {
    padding: 100px 25px;
    width: 100%;

  }
  .about-container, .skill-list {
    flex-direction: column;
  }

  .about-text, .skill-list {
    width: 100%;
    padding: 10px 10px;
  }

  .accordion-button {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-container {
    height: 100%;
  }
  .form-container {
    height: 100%;
    background: url('./images/contact\ form\ shapes-mobile@2x.png') no-repeat;
    background-size: 57% 90%;
    background-position: 100%;
   } 
}