body {
  background-color: #E5E5E5;
  font-family: "poppins", Helvetica, sans-serif !important;
}

.App {
  background-color: #fff;
}

.navbar-brand {
  color: #6070FF !important;
  font-weight: 700;
  font-size: 18px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #fff !important;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: #344563 !important;
  font-weight: 500 !important;
  font-size: 15px;
  margin-right: 40px;
}

.p {
  height: 500px;
  border: 2px solid red;
  margin: 4px;
}

.a {
  height: 500px;
  border: 2px solid green;
  margin: 4px;
}

.c {
  height: 500px;
  border: 2px solid yellow;
  margin: 4px;
}


/* .navbar-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-top: 40px;
} */

/* .offcanvas-header .btn-close {
  color: #fff;
  font-size: 80px;
  background:transparent url("/images/cross.png") center/1em auto no-repeat;
} */

